<div *ngIf="visible" class="ui segment">
    <div [@dialog]  >
            <div class="ui modal transition visible active" style="margin-top: -208.5px; display: block !important;">
              <ng-content></ng-content>
              <a *ngIf="closable"  style="cursor:pointer" (click)="close()" aria-label="Close" class="dialog__close-btn">X</a>
                <div class="content">
                  <div class="col-md-6">
                    <canvas baseChart
                                [data]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [chartType]="lineChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                    <div class="ui mini statistic">
                      <div class="value">
                        {{precoMin}}
                      </div>
                      <div class="label">
                        Min
                      </div>
                    </div>

                    <div class="ui mini statistic">
                      <div class="value">
                        {{precoMax}}
                      </div>
                      <div class="label">
                        Max
                      </div>
                    </div>

                  </div>
                </div>
            </div>
    </div>
</div>