<div class="card" >
  <div class="content">

  <div *ngIf="showPositiveMessage" class="ui positive transition fade down message" >
    <i  (click)="showPositiveMessage=false" class="close icon"></i>
    <div class="header">
      Item salvo
    </div>
    <p>Os dados da farmácia foram armazenados.</p>
  </div>

  <div *ngIf="showNegativeMessage" class="ui negative transition fade down message" >
    <i  (click)="showNegativeMessage=false" class="close icon"></i>
    <div class="header">
      Item não salvo
    </div>
    <p>Os dados da farmácia <b>{{farmacia.nome}}</b> não foram armazenados. Entre em contato com o <b> administrador </b></p>
  </div>

  <form class="ui form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value); myForm.reset()" [class.error]="!myForm.valid" >
    <h4 class="ui dividing header">Farmácia {{farmacia.nome}}</h4>
    
    <div class="field" >
      <div class="two fields">
        <div class="field" [class.error]="!myForm.controls['nome'].valid && myForm.controls['nome'].touched ">
          <input type="text" name="nome" placeholder="Farmácia" [formControl]="myForm.get('nome')" [(ngModel)]="farmacia.nome" required>
          <div *ngIf="myForm.controls['nome'].hasError('required')" class="ui error message floated"> Obrigatório </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Endereço</label>
      <div class="fields">
        <div class="twelve wide field"  [class.error]="!myForm.controls['rua'].valid && myForm.controls['rua'].touched " >
          <input type="text" name="rua" placeholder="Rua" [formControl]="myForm.get('rua')" [(ngModel)]="farmacia.rua" required>
          <div *ngIf="myForm.controls['rua'].hasError('required')" class="ui error message"> Obrigatório </div>
        </div>
        <div class="four wide field"  [class.error]="!myForm.controls['numero'].valid && myForm.controls['numero'].touched ">
          <input type="text" name="numero" placeholder="Número" [formControl]="myForm.get('numero')" [(ngModel)]="farmacia.numero" required>
          <div *ngIf="myForm.controls['numero'].hasError('required')" class="ui error message"> Obrigatório </div>
          <div *ngIf="myForm.controls['numero'].hasError('invalidNumber')" class="ui error message"> Somente números </div>
        </div>
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Estado</label>
        <div class="ui fluid search selection dropdown">
          <input type="hidden" name="estado">
          <i class="dropdown icon"></i>
          <div class="default text">Ceará</div>
          <!--div class="menu">
            <div  *ngFor="let estado of estados" class="item">{{estado.nome}}</div>
          </div-->
        </div>
      </div>
      <div class="field">
        <label>Cidade</label>
        <select class="ui fluid dropdown">
          <option value=""> </option>
          <option *ngFor="let cidade of cidades" value="{{cidade}}"> {{cidade}} </option>
        </select>
      </div>
    </div>
    <div class="ui  buttons">
      <a class="ui button" (click)="myForm.reset()" >Limpar</a>
      <div class="or"></div>
      <button class="ui positive button" type="submit" [disabled]="!myForm.valid" >Save</button>
    </div>
  </form>
  </div>
</div>