<div class="ui borderless inverted main menu">
  <div class="ui text container">
    <div href="#" class=" header item" routerLink="" >
      <img class="logo" src="assets/images/home/logo.png">
      Buscamed
    </div>

    <div class="item" > 
      <app-search-item></app-search-item>
    </div>

   <div class="ui right floated item">
    <div class="ui pointing dropdown link" (click)="toggleState()">
      <i class="circular user icon"></i>
      {{user_id}}
      <div class="menu" [@visibleToggle]="state" >
          <div class="header"> user area </div>
          <div *ngIf="!loggedIn" class="item" routerLink="/login" >Entrar</div>
          <div *ngIf="loggedIn" class="item" routerLink="/alertas" >Meus alertas</div>
          <div *ngIf="loggedIn" class="item" routerLink="/farmacias" >Farmácias</div>
          <div *ngIf="loggedIn" class="item" routerLink="/medicamentos" >Medicamentos</div>
          <div *ngIf="loggedIn" class="item" (click)="logout()" >Logout</div>
      </div>
    </div>
   </div>
  </div>
</div>

<div class="ui main container">
  <router-outlet></router-outlet>
</div>

<!--div class="ui inverted vertical footer segment">
  <app-footer-header></app-footer-header>
</div-->