<div class="ui borderless menu fixed">

    <div href="#" class="item">
      <img class="logo" src="assets/images/logo.png">
      Buscamed
    </div>

    <div class="item middle right" > 
      <app-search-item></app-search-item>
    </div>

    <div class="ui pointing dropdown link item">
      <i class="circular user icon"></i>
      Usuário
      <div class="menu transition visible">
          <div class="header"> user area </div>
          <div class="item">Log in</div>
          <div class="item">Sign Up</div>
      </div>
    </div>
</div>

<router-outlet></router-outlet>
<div class="ui inverted vertical footer segment">
  <app-footer-header></app-footer-header>
</div>