<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Encontre o seu medicamento</h3>
          <p> Veja em quais farmácias o medicamento está disponível*.</p>
          <h3 class="ui header">Crie um alerta</h3>
          <p>Receba um e-mail notificando o preço mínimo do medicamento.</p>
        </div>
        <div class="six wide right floated column">
          <img src="../assets/images/home/man.jpg" class="ui medium circular image">
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"Quem somos?"</h3>
          <p>Estudantes da Universidade de Fortaleza</p>
        </div>
        <div class="column">
          <h3>"Um projeto totalmente sem apoio dos nossos Professores!"</h3>
          <p>
            <img src="../assets/images/home/aluno.jpg" class="ui avatar image"> <b>Lucas</b> Aluno depressivo
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Trabalhe conosco</h3>
      <p> Envie o seu perfil do github para buscamed@gmail.com </p>

      <h4 class="ui horizontal header divider">
        <a href="#">Estudo de caso</a>
      </h4>

      <h3 class="ui header">Como faremos para manter a base atualizada?</h3>
      <p>Bem, estamos contando com o trabalho colaborativo que envolve os nossos usuários, sabemos que no início será difícil.</p>
    </div>
  </div>